
<div class="header-flex-container">
      <div class="flex bg-neutral-700 py-4 h-48 text-white p-5 text-5xl " style="font-family: 'Mate SC', serif;">
        <img class="m-1 self-center" src="/images/Butte_College.png" alt="Butte College Logo" width="175" height="175">
        <div class="flex justify-center flex-col text-center grow">
          <p>Butte College</p>
          <p>Student Learning Outcomes</p>      
          <p>Manager</p> 
          </div>
        </div>
</div>

<div id="navbar-container" class="flex text-center justify-evenly bg-amber-400 font-nunito" style="font-family: 'Mate SC', serif;">
  <div class="text-2xl bg-neutral-700 text-neutral-50 px-6 py-3 hover:bg-stone-600 active:bg-neutral-600 transition-all shadow-md cursor-pointer grow"><a href="/">Home</a></div>
  <div class="text-2xl bg-amber-400 text-neutral-80 px-6 py-3 hover:bg-yellow-300 active:bg-amber-300 transition-all shadow-md cursor-pointer grow"><a href="/slos">SLO Viewer</a></div>
  <div class="text-2xl bg-amber-400 text-neutral-80 px-6 py-3 hover:bg-yellow-300 active:bg-amber-300 transition-all shadow-md cursor-pointer grow"><a href="/convos">View Discussions</a></div>
  <div class="text-2xl bg-amber-400 text-neutral-80 px-6 py-3 hover:bg-yellow-300 active:bg-amber-300 transition-all shadow-md cursor-pointer grow"><a href="#">Submit Reflections</a></div>
</div>