<!doctype html>
<html lang="en">
<head>
  <%- include('../includes/headerStuff'); -%>
</head>
<body>
  <%- include('../includes/pageHeader'); -%>
  
  <div id="main-container" class="flex flex-col ml-24 mr-24 mt-20 py-12 bg-neutral-700 rounded-3xl shadow-md p-8 justify-center text-center m-auto text-2xl">
  <h3 class="text-white text-3xl pb-10" style="font-family: 'Mate SC', serif;">Filter your selection</h3>

  <div class="dropdown">
    <label class="text-white">Select Filter for discussions: </label>
    <select id="selectFilter" class="rounded-md shadow-md bg-amber-400 text-black" onchange="navigatePage(this)">
      <option value=""></option>
      <option value="Date">Date</option>
      <option value="Department">Department</option>
      <option value="Program">Program</option>
    </select>
  </div>
</div>
<script>
  function navigatePage(selectElement) {
    const selectedValue = selectElement.value;
    let redirectUrl = "";

    if (selectedValue === "Date") {
        redirectUrl = "convos/bydate";
    } else if (selectedValue === "Department") {
        redirectUrl = "/convos/dept";
    } else if (selectedValue === "Program") {
        redirectUrl = "/convos/prog";
    }

    window.location.href = redirectUrl;
}
</script>
  <%- include('../includes/pageFooter'); -%>
  <%- include('../includes/footerStuff'); -%>
</body>
</html>