body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html {
  height: 100%;
  width: 100%;
}
.header-flex-container {
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0);
  padding: 0rem 0rem;
  align-items: center;
}

.footer-flex-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  padding: 0rem 0rem;
  align-items: center;
  margin-top: auto;
}
