<!doctype html>
<html lang="en">
<head>
  <%- include('../includes/headerStuff'); -%>
</head>
<body>
  <%- include('../includes/pageHeader'); -%>
  
  <div id="main-container" class="flex justify-center p-16 text-center bg-neutral-700 rounded-3xl m-auto shadow-md">
  <div class="max-w-3xl mx-auto px-8 sm:px-0">
    <div class="">
      <h1 class="text-3xl pb-10 text-neutral-50" style="font-family: 'Mate SC', serif;">PLOs</h1>
      <div role="tablist" aria-label="tabs"
        class="relative w-max mx-auto h-12 grid grid-cols-3 items-center px-[3px] rounded-full bg-amber-400 overflow-hidden shadow-2xl shadow-900/20 transition">
        <div class="absolute indicator h-11 my-auto top-0 bottom-0 left-0 rounded-full bg-amber-400 shadow-md"></div>
        <button role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0"
          class="relative block h-10 px-6 tab rounded-full">
          <a href="/plos/semester" class="text-gray-800 text-xl">By Semester</a>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1"
          class="relative block h-10 px-6 tab rounded-full">
          <a href="/plos/dept" class="text-gray-800 text-xl">By Department</a>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1"
          class="relative block h-10 px-6 tab rounded-full">
          <a href="/plos/change" class="text-gray-800 text-xl">Submit Changes</a>
        </button>
      </div>
    </div>
  </div>
</div>
  
  <%- include('../includes/pageFooter'); -%>
  <%- include('../includes/footerStuff'); -%>
</body>
</html>